extends base.pug
include mixins/ex01f.pug
include mixins/ex01fp.pug
include mixins/ex01ft.pug
include mixins/ex01fl.pug

block title 
   
block content
    div#container_ex01
        h3 Experiment_01
        div.title_ex01 Datensätze
        div#colorList_wrapper
            div#photoItemBox
                div.title_ex01 Old
                div#photoList_ex01p
                    for photo in oldList 
                        +ex01fp(photo)
                    for photo in oldList2 
                        +ex01fp(photo)
                div 
            div#photoItemBox
                div.title_ex01 New
                div#photoList_ex01p
                    for photo in newList 
                        +ex01fp(photo)
                    for photo in newList2 
                        +ex01fp(photo)
        div#colorList_wrapper
            div#photoItemBox
                div#photoList_ex01
                    for photo in oldList 
                        +ex01f(photo)
                    for photo in oldList2 
                        +ex01f(photo)
                div 
            div#photoItemBox
                div#photoList_ex01
                    for photo in newList 
                        +ex01f(photo)
                    for photo in newList2 
                        +ex01f(photo)
        div#colorList_wrapper
            div#photoItemBox
                div#tetList_ex01
                    for photo in oldList 
                        +ex01ft(photo)
                    for photo in oldList2 
                        +ex01ft(photo)
                div 
            div#photoItemBox
                div#textList_ex01
                    for photo in newList 
                        +ex01ft(photo)
                    for photo in newList2 
                        +ex01ft(photo)
        div.title_ex02 Analyse
        div#colorList_wrapper
            div#photoItemBox
                div#photoList_ex01
                    for photo in totalOldColor 
                        +ex01fl(photo)
                    //- for photo in ocolorL2 
                    //-     +ex01fl(photo)
                div 
            div#photoItemBox
                div#photoList_ex01
                    for photo in totalNewColor 
                        +ex01fl(photo)
        div#colorList_wrapper
            div#photoItemBox
                div R:#{totalOldColor_analyse.r} G:#{totalOldColor_analyse.g} B:#{totalOldColor_analyse.b}
                div Total likes : #{total_likes_old}
            div#photoItemBox
                div R:#{totalNewColor_analyse.r} G:#{totalNewColor_analyse.g} B:#{totalNewColor_analyse.b}
                 div Total likes : #{total_likes_new}
                    
        
    
block script    
    script(src="../client/js/home.js") 